<h1>Course Information</h1>
{{#with data}}
    <ul>
        <li>
            {{this}}
                <ul>
                    <li>{{this.getProfessor}}</li>
                </ul>
        </li>
    </ul>
{{/with}}