{{#with data}}
    <h1>Student Information</h1>
    <h2>{{this.toString}}</h2>
    <h2>Registered Classes:</h2>
    <ul>
        {{#each this.getCourses}}
            <li>{{this.toString}}</li>
            <ul>
                <li>{{this.getProfessor}}</li>
            </ul>
        {{/each}}
    </ul>
{{/with}}