<h1>Welcome to the Student MVC Portal!</h1>

<h2>See all the database entries...</h2>

<ul>
    <li>/Students</li>
    <li>/Professors</li>
    <li>/Courses</li>
</ul>

<h2>Or find a specific entry...</h2>

<ul>
    <li>/Student/:id</li>
    <li>/Professor/:id</li>
    <li>/Course/:id</li>
</ul>

<h2>Or sign a student up for a course!</h2>

<ul>
    <li>/Register</li>
</ul>